body
{
	font-size:75%;
	font-family:verdana,arial,'sans serif';
	background-color:#FFFFF0;
	color:#000080;
	margin:20px;
}

h1 {font-size:200%;}
h2 {font-size:140%;}
h3 {font-size:110%;}

a:link {color:#000080;}
a:hover {color:red;}

table
{
	font-family: Arial;
	font-size: 10pt;
}

.kbTitle
{
	text-align: center; 
	font-size: smaller;
	background-color:#F8E9C1;
}

.keyboard
{
	color: #834323;
	cursor: pointer;
	font-family: font-family: FrankRuehl;
	font-size: larger;
	padding-left: 4px;
	padding-right: 4px;
	background-color: #F8E9C1;
	text-align: center;
}